<!DOCTYPE html>
<html lang="en" xmlns:th="Http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}"></h1>
<nav th:replace="fragments :: navigation"></nav>
<form method="POST" action="/cheese/editPost">
    <label for="cheeseName">Name: </label><br>
    <input id="cheeseName" type="text" name="cheeseName" th:value="${theCheese.cheeseName}">
    <br><br>
    <label for="cheeseValue">Description: </label><br>
    <textarea id="cheeseValue" name="cheeseValue" th:text="${theCheese.cheeseValue}"></textarea>
    <br><br>
    <input type="hidden" th:value="${theCheese.cheeseId}" name="cheeseId" />
    <input type="submit" value="Edit Cheese">
</form>
</body>
</html>