<!DOCTYPE html>
<html lang="en" xmlns:th="Http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}"></h1>
    <nav th:replace="fragments :: navigation"></nav>
    <p th:unless="${cheeses} and ${cheeses.size()}">no cheese</p>
    <ul>
        <div th:each="cheese : ${cheeses}">
        <li>
            <a th:href="@{'/cheese/edit/' + ${cheese.cheeseId}}" th:text="${cheese.cheeseName}"></a>
        </li>
        <p th:text="${cheese.cheeseValue}"></p>
        </div>
    </ul>
</body>
</html>