<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}"></h1>

    <form method="post" th:object="${user}">
        <label th:for="*{username}">User Name: </label>
        <input th:field="*{username}" /><br><br>

        <label th:for="*{email}">Email: </label>
        <input type="email" th:field="*{email}" /><br><br>

        <label th:for="*{password}">Password: </label>
        <input type="password" th:field="*{password}" /><br><br>

        <label for="verify">Verify Password: </label>
        <input id="verify" type="password" name="verify" /><br><br>

        <input type="submit" value="Register" />
    </form>

</body>
</html>